.vscode/

# Haskell
compiler/.stack-work/
compiler/dist
compiler/dist-*
compiler/cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
compiler/.hpc
compiler/.hsenv
compiler/.cabal-sandbox/
compiler/cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
compiler/.stack-work/
compiler/cabal.project.local
compiler/cabal.project.local~
compiler/.HTF/
compiler/.ghc.environment.*

hyacinth.cabal

# Rust
virtual-machine/debug/
virtual-machine/target/

# Hyacinth
*.hyb